header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding: 20px;
    #logo{
        max-width: 100px;
    }
    .menu-container{
        width: 60%;
        border-bottom: 1px solid $blue-lines;
        i{
            display: none;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            a{
                color: #ffffff;
                @include quicksandRegular;
                font-size: 16px;
                text-transform: uppercase;
                &:hover{
                    color: $blue-sections;
                    font-weight: 600;
                }
            }
        }
    }
    
}

