header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding: 20px;
    #logo{
        max-width: 80px;
    }
    .menu-container{
        width: 85%;
        i{
            display: none;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            a{
                display: block;
                padding: 20px;
                color: #ffffff;
                @include quicksandRegular;
                font-size: 16px;
                text-transform: uppercase;
                transition: 1s;
                &:hover{
                    cursor: pointer;
                    background-color: $blue-lines;
                }
            }
        }
    }
    
}

