@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Quicksand:wght@300;400;600&display=swap");
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 20px;
}
header #logo {
  max-width: 100px;
}
header .menu-container {
  width: 60%;
  border-bottom: 1px solid rgba(7, 138, 214, 0.7);
}
header .menu-container i {
  display: none;
}
header .menu-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header .menu-container ul a {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
header .menu-container ul a:hover {
  color: #022437;
  font-weight: 600;
}

footer {
  width: 100%;
  background-color: #000000;
}
footer img {
  max-width: 100px;
}

/**************************************
            ACCUEIL
**************************************/
#accueil {
  overflow: hidden;
  position: relative;
}
#accueil video {
  width: 100%;
}
#accueil .title-container {
  position: absolute;
  bottom: 50px;
  left: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #fff;
  background-color: rgba(2, 36, 55, 0.3);
  cursor: pointer;
}
#accueil .title-container .main-title {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
}
#accueil .title-container i {
  color: #ffffff;
  font-size: 20px;
  margin-left: 20px;
}

main {
  background: url("../assets/img/banc-de-poissons.jpg") center no-repeat;
  position: relative;
  top: -6px;
  /**************************************
              SECTION UN
  **************************************/
  /**************************************
              SECTION DEUX
  **************************************/
  /**************************************
              SECTION TROIS
  **************************************/
}
main .mask {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
main .section-une {
  z-index: 2;
  position: relative;
  width: 90%;
  margin: auto;
  padding: 150px 50px 50px 50px;
}
main .section-une:before {
  content: "";
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 700px;
  height: 1px;
  background-color: rgba(7, 138, 214, 0.7);
}
main .section-une:after {
  content: "";
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 1px;
  height: 300px;
  background-color: rgba(7, 138, 214, 0.7);
}
main .section-une .section-title {
  position: relative;
}
main .section-une .section-title:before {
  content: "";
  position: absolute;
  top: -60px;
  left: -55px;
  width: 700px;
  height: 1px;
  background-color: rgba(7, 138, 214, 0.7);
}
main .section-une .section-title:after {
  content: "";
  position: absolute;
  top: -60px;
  left: -55px;
  width: 1px;
  height: 300px;
  background-color: rgba(7, 138, 214, 0.7);
}
main .section-une > p {
  width: 60%;
}
main .section-une .citation {
  padding: 30px;
  width: 50%;
}
main .section-une .citation p:first-child {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 0;
}
main .section-une .citation p:nth-child(2) {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  padding-left: 50px;
  margin-top: 5px;
}
main .section-une .citation p:nth-child(2):before {
  content: "";
  position: absolute;
  top: 14px;
  left: 24px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
}
main .section-une img {
  max-width: 600px;
  position: absolute;
  top: 150px;
  right: 20px;
}
main .section-deux {
  z-index: 2;
  position: relative;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1500px;
}
@media all and (min-width: 1500px) {
  main .section-deux {
    margin: auto;
  }
}
main .section-deux div:first-child {
  background-color: #022437;
  padding: 50px;
}
main .section-deux div:first-child .btn {
  margin: 80px auto 0 auto;
  display: block;
  text-align: center;
}
main .section-deux #raies {
  max-width: 600px;
  display: block;
  transform: scale(0.5);
  opacity: 0;
  transition: 1s;
}
main .section-deux #raies.is-visible {
  opacity: 1;
  transform: scale(1);
}
main .section-deux #plongeur {
  max-width: 600px;
  display: block;
  transform: scale(0.5);
  opacity: 0;
  transition: 2s;
}
main .section-deux #plongeur.is-visible {
  opacity: 1;
  transform: scale(1);
}
main .section-trois {
  z-index: 2;
  position: relative;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 90%;
  margin: auto;
}
main .section-trois img {
  max-width: 800px;
}
main .section-trois p:nth-child(3) {
  margin-bottom: 50px;
}
main .section-trois .btn {
  margin-top: 50px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #fff;
}

.section-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.section-title {
  text-transform: uppercase;
  font-size: 35px;
}

.general-text, main .section-une > p, main .section-deux div:first-child p, main .section-trois p {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #ffffff;
}

.btn {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  border: 1px solid rgba(7, 138, 214, 0.7);
  background-color: #011a28;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}
.btn:hover {
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
