@import 'variables';

@import 'includes/header';
@import 'includes/footer';

@import 'pages/home';
@import 'pages/commission';

@import 'titles';

body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

*{
    box-sizing: border-box;
}

p{
    @extend .general-text;
}

.general-text{
    @include openSansLight;
    font-size: 25px;
    color: #ffffff;
}

.blue-text{
    color: $blue-titles
}

main{
    background: url('../assets/img/banc-de-poissons.png') center;
    position: relative;
    top: -6px;
    padding-top: 100px;
}

.pages-main{
    .section-title{
        font-size: 25px;
    }
    .general-text{
        font-size: 20px;
    }
}

.btn{
    @include indieFlower;
    color: #ffffff;
    font-size: 25px;
    border: 1px solid $blue-lines;
    background-color: $blue-btn;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    &:hover{
        background-color: transparent;
        transition: 1s;
        cursor: pointer;
    }
}


.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  