.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
    >img{
        width: 100%;
        max-width: 400px;
        @media #{$desktop-query}{
            display: none;
        }
    }
}

#carte{
    max-width: 300px;
    width: 100%;
    margin: auto;
    display: block;
}